  <footer class="container">
    <nav>
        <p >&copy; 2022 Smart Street Lighting</p>
      <ul >
          <!-- <li ><a href="/" >Home</a></li>
          <li ><a href="/articles" >Articles</a></li>
          <li ><a href="#">About</a></li> -->
      </ul>
    </nav>
  </footer>    
  </body>
</html>