<body>
  <div style="width: 100%; max-height: 250px; overflow: hidden">
    <img
      style="width: 100%"
      src="https://images.unsplash.com/photo-1498084393753-b411b2d26b34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
      alt="long exposure night city image"
    />
  </div>

  <section class="container">
    <h1 style="margin-top: 3rem; margin-bottom: -2rem">
      <strong>SMART STREET LIGHTING</strong>
    </h1>
  </section>
</body>
